
{
  "presets": [
    ["@babel/preset-env", { "targets": "defaults", "modules": false }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src"
      },
      "extensions": [".js", ".ts", ".tsx", ".jsx"]
    }],
    "./babel-plugin-replace-ts-with-js.mjs"
  ]
}
